---
// src/pages/search.astro
import { SITE_TITLE } from '../consts';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro'; // Impor Header
import Footer from '../components/Footer.astro'; // Impor Footer
import BaseHead from '../components/BaseHead.astro'; // Impor BaseHead
import Card from '../components/Card.astro';
import { getCollection } from 'astro:content';

const allPosts = await getCollection('blog');

function createPostUrl(post) {
  return `/blog/${post.id}/`;
}
---

<Layout title={`Search - ${SITE_TITLE}`}>
  <BaseHead title={`Search - ${SITE_TITLE}`} description="Halaman Pencarian" /> {/* Gunakan BaseHead */}
  <Header /> {/* Tampilkan Header */}
  <main>
    <section>
      <h1>Search</h1>
      <div class="search-container">
        <input type="text" id="search-input" placeholder="Cari..." />
      </div>
      <div class="results-container">
        <ul class="post-list">
          {allPosts.map((post) => (
            <Card frontmatter={post.data} url={createPostUrl(post)} />
          ))}
        </ul>
      </div>
      <p id="no-results" style="display: none">Tidak ada hasil yang ditemukan.</p>
    </section>
  </main>
  <Footer /> {/* Tampilkan Footer */}
</Layout>
